<!doctype html>


<html class=" js csstransforms csstransforms3d" style="
position: fixed; touch-action: manipulation;">


<head>
    <script>
    var language='<%=language%>';
    var id='<%=id%>';   	
	var bookName='<%=title%>';
	var data=<%-bookDatas%>;

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/Plantilla.js"></script>
	
	<meta charset="UTF-8">
	<meta http-equiv="cache-control" content="max-age=0" />
	<meta http-equiv="cache-control" content="no-cache" />
    <preference name="DisallowOverscroll" value="true" />
    
    	<!--favIcons-->
	
    <link rel="shortcut icon" href="https://yogome.com/assets/favicon/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="https://yogome.com/assets/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="https://yogome.com/assets/favicon/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="https://yogome.com/assets/favicon/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://yogome.com/assets/favicon/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="https://yogome.com/assets/favicon/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://yogome.com/assets/favicon/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://yogome.com/assets/favicon/favicon-16.png">
    <link rel="apple-touch-icon" href="https://yogome.com/assets/favicon/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://yogome.com/assets/favicon/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://yogome.com/assets/favicon/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://yogome.com/assets/favicon/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://yogome.com/assets/favicon/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://yogome.com/assets/favicon/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://yogome.com/assets/favicon/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://yogome.com/assets/favicon/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://yogome.com/assets/favicon/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="https://yogome.com/assets/favicon/favicon-144.png">
    <meta name="msapplication-config" content="https://yogome.com/assets/favicon/browserconfig.xml">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <!--Dinamically Read Scripts-->
    
    <title class="languageTitle">'<%=title%>'</title>
	<link rel="icon" type="image/png" href="../../pics/favicon.png" />
	<script type="text/javascript" src="/extras/jquery.min.1.7.js"></script>
	<script type="text/javascript" src="/extras/jquery-ui-1.8.20.custom.min.js"></script>
	<script type="text/javascript" src="/extras/modernizr.2.5.3.min.js"></script>
	<script type="text/javascript" src="/lib/hash.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.blast.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
	<!--<script type="text/javascript" src="js/tracks.js"></script>-->
    <!--<script type="text/javascript" src="js/visibleHand.js"></script>-->
	<script type="text/javascript" src="/javascripts/audioSync.js"></script>
	<!--ESta de manera absoluta la direccion de epic model, por la profundidad que tiene dentro del server-->
	<!--<script type="text/javascript" src="http://play.yogome.com/js/epic/models/epicModel.js"></script>   -->
	<script type="text/javascript" src="javascripts/mixpanel/mixpanel.js"></script>

	



	<meta property="og:url"				content="https://books.yogome.com/<%=id%>"/>
	<meta property="og:type"			content="article"/>
	<meta property="og:title"			content="Interactive Books:'<%=title%>'" />
	<meta property="og:image"			content="https://books.yogome.com/books/posts/fbpost_<%=id%>.png" />
    <meta property="og:description" content="Encourage your child to learn while they have fun! Browse more than 2,000 activities in 8 fundamental subjects including educational apps, videos, games, and books. With the Yogome Learning Platform, your child will have the tools they need to succeed. Only 20 minutes a day can help improve your child’s social, emotional, and academic development. Start today!">

    
    <!--<script type="text/javascript" src="assets/javascripts/FBasync.js"></script>-->
</head>




<body id="zooms" class="background" style="touch-action: manipulation;">
    <!--<script type="text/javascript" src="assets/js/shareOverride.js"></script>-->
    
<div id="canvas" style="touch-action: manipulation;">


	<div class="magazine-viewport">
		<div class="container">

			<div class="magazine" id="magaz">
				<!--  BOTON SIGUIENTE      -->
				<div ignore="1" class="next-button">
					<div id="activeNext" >
						<div class="animation1">
						</div>
					</div>
					<img src="/images/nextButton.png" id="next"  style="visibility: hidden">
				</div>
                
				<!-- Previous button -->
				<div ignore="1" class="previous-button" >
					<img src="/images/nextButton.png" id="prev" style="visibility: hidden">
				</div>
				<div id="p1" depth="5" class="hard"> <div class="side"></div> </div>
				<div depth="5" class="hard front-side"> <div class="depth"></div> </div>
			</div>
			<!-- Next button -->
		</div>
	</div>

	<a><div id="homeButton"><img src="/images/homeButton.png" id="homes" style="visibility: hidden"/></div></a>
    <script type="application/javascript" src="/javascripts/goBack.js"></script>
    
	<div class="languageButton" id="languageButtons"><img src="/images/icon-languages.png" id="languageBoton" style="visibility: hidden"></div>
	<div class="idiomas" id="languages">
		<div id="ButtonLanEs" class="overLanguage" style="visibility: hidden">Español</div>
		<div id="ButtonLanEn" class="overLanguage" style="visibility: hidden">English</div>
		<div id="ButtonLanPt" class="overLanguage" style="visibility: hidden">Português</div>
		<div id="ButtonLanZh" class="overLanguage" style="visibility: hidden">中國</div>
		<div id="ButtonLanJa" class="overLanguage" style="visibility: hidden">日本語</div>
		<div id="ButtonLanKo" class="overLanguage" style="visibility: hidden">한국어</div>
	</div>
    <script type="application/javascript" src="/javascripts/ForIndex.js"></script>
	<div id="audiosGroup"></div>
	<div class="bottom">
		<div id="slider-bar" class="turnjs-slider timeline-style">
			<div id="slider">
			</div>
		</div>
	</div>
    </div>
	<div id="app"></div>
	<script src="/javascripts/login.js"></script>
</body>
	
</html>